{% extends 'base.html' %}
{% load highlight %}
{% block title %}Search{% endblock %}
{% block content %}
  {% if 'queryset' in request.GET %}
    <h1>Entries containing "{{ cd.queryset }}"</h1>
    <h3>Found {{ total_results }} result{{ total_results|pluralize }}</h3>
    {% for result in results %}
      {% with entry=result.object %}
        <h4><a href='{{ entry.get_absolute_url }}'>{{ entry.title }}</a></h4>
        {% highlight entry.text with cd.queryset %}
      {% endwith %}
      {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}
    <p><a href="{% url 'blog:entry_search' %}">Search again</a></p>
  {% else %}
    <h1>Search for Entries</h1>
    <form action="." method="get">
      {{ form.as_p }}
      <input type="submit" value="Search"></input>
    </form>
  {% endif %}
{% endblock %}
